<div id="articles" class="posts">
  <h1 class="content-subhead">Recent Posts</h1>

  <% articles.each do |article| %>
    <section class="post" id="article-<%= article.id %>">
      <header class="post-header">
        <h2 class="post-title"><%= article.title %></h2>

        <p class="post-meta">
          By <em><%= article.author || article.feed.title %></em> in <span class="post-category post-category-js"><%= article.feed.title %></span>
        </p>
      </header>

      <div class="post-description"><%= article.summary %></div>
    </section>
  <% end %>
</div>
