<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple feed reader built with Hanami">
    <title>Reeder</title>
    <%= favicon %>
    <%= stylesheet 'pure-min', 'grids-responsive-min', 'reeder' %>
  </head>
  <body>
    <div id="layout" class="pure-g">
      <%= render partial: 'layout/sidebar' %>

      <div class="content pure-u-1 pure-u-md-3-4">
        <div>
          <%= yield %>
        </div>

      <%= render partial: 'layout/footer' %>
      </div>
    </div>
  </body>
</html>
